<p id="notice"><%= notice %></p>
<h1>Player</h1>

<div class="container">
	<div class="row">
		<div class="col-md-7">
		<p>First name:
			<%= @player.first_name %></p>
		<p>Last name:
			<%= @player.last_name %></p>
		<p>Email:
			<%= @player.email %></p>
		<p>Number of matches:
			<%= @player.players_matches.count %></p>
		<p>Number of matches won:
			<%= @player.matches_won.count %></p>
		<p>Number of matches lost:
			<%= @player.matches_lost.count %></p>

		<p>List of player's matches:</p>
			<table class="table">
			  <thead>
			    <tr>
			      <th>Date</th>
			      <th>Player A</th>
			      <th>Player B</th>
			      <th>Result A</th>
			      <th>Result B</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @player.players_matches.each do |match| %>
			      <tr>
			        <td><%= match.date %></td>
			        <td><%= match.player_A.first_name unless match.player_A == nil %></td>
			        <td><%= match.player_B.first_name unless match.player_B == nil %></td>
			        <td><%= match.result_player_A %></td>
			        <td><%= match.result_player_B %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
		<div class="col-md-5">
		<%= image_tag(@player.photo_url) if @player.photo? %>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-10">

		</div>
	</div> -->
</div>






<%= link_to 'Back', players_path %>
