<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :result_player_A %><br>
    <%= f.number_field :result_player_A %>
  </div>
  <div class="field">
    <%= f.label :result_player_B %><br>
    <%= f.number_field :result_player_B %>
  </div>
  <div class="field">
    <%= f.label :player_A_id %><br>
    <%= f.number_field :player_A_id %>
  </div>
  <div class="field">
    <%= f.label :player_B_id %><br>
    <%= f.number_field :player_B_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
